

.landing-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  

  .header {
    background-color:darkgreen ;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logout-btn {
    width: 100%;


    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: gray;
    color: white;
  }

  .content {
    display: flex;
    height: 100%;
  }
  

  .sidebar {
    width: 15%;
    background-color:darkslategrey;
    padding: 15px;
    color: white;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px 10px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color:dimgray;
  }

  .main {
    width: 80%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h3 {
    margin-bottom: 30px;
    font-size: small;
  }
  


